{% extends "base.html" %}
{% block content %}

<div class="text-center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification alert alert-dark">
                {% for message in messages %}
                    <div class="row">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link  active" href={{ url_for('user.userProfile') }} role="tab" data-toggle="tab" aria-selected="true">profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">buzz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
        </li>
    </ul>



{% endblock %}