{% extends "base.html" %}

{% block content %}
    <div class="container p-5">

    <div class="card cardspage">

        <div class="card-body border-3 shadow">

            <div>
                <span class="float-left pt-2 h4"> Hi {{ users.name }}, </span>
                <span><button class="btn btn-info float-right "> Edit </button></span>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th colspan="3" scope="row">First Name:</th>
                    <td>{{ users.first_name }}</td>
                </tr>

                <tr>
                    <th colspan="3" scope="row">Last Name:</th>
                    <td>{{ users.last_name }}</td>
                </tr>

                <tr>
                    <th colspan="3" scope="row">Email:</th>
                    <td>{{ users.email }}</td>
                </tr>

                <tr>
                    <th colspan="3" scope="row">Phone No:</th>
                    <td>{{ users.phone_number }}</td>
                </tr>

                <tr>
                    <th colspan="3" scope="row">LinkedIn:</th>
                    <td type="URL">{{ users.linkedIn }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
