{% extends "base.html" %}
{% block content %}
    <hr>
    <div class="container p-4">
        <div class="card cardspage shadow">

            <div class="card-body">
                <div class="form-group text-center">
                    <div class="h4">Enter Organization Details</div>
                </div>
                <hr>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification text-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}

                {% if not edit %}
                    <form method="POST" action="/addOrganization">

                        <div class="form-group">
                            <label>Organization Name</label>
                            <input class="form-control" type="text" name="organizationName"
                                   placeholder="Organization Name"
                                   autofocus="">
                        </div>

                        <div class="form-group">
                            <label>Organization Address</label>
                            <input class="form-control" type="text" name="organizationAddress"
                                   placeholder="Enter Organization Address"
                                  autofocus="">
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" name="email"
                                   placeholder="Enter Organization Point of Contact Email"
                                   autofocus="">
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-primary"> Submit</button>
                        </div>

                    </form>
                {% endif %}

                {% if edit %}

                    <form method="POST" action="/editOrganization/{{ org.org_id }}">

                        <div class="form-group">
                            <label>Organization Name</label>
                            <input class="form-control" type="text" name="organizationName"
                                   placeholder="Organization Name"
                                   value="{{ org.org_name }}" autofocus="">
                        </div>

                        <div class="form-group">
                            <label>Organization Address</label>
                            <input class="form-control" type="text" name="organizationAddress"
                                   placeholder="Enter Organization Address"
                                   value="{{ org.org_address }}" autofocus="">
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" name="email"
                                   placeholder="Enter Organization Point of Contact Email"
                                   value="{{ org.org_email }}" autofocus="">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary"> Update</button>
                        </div>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
