{% extends "base.html" %}
{% block content %}


    <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.addOrganization') }}"><strong>Add Organization</strong></a>
      </li>
       <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.addOpportunity') }}"><strong>Add Opportunity</strong></a>
      </li>
           <ul class="nav nav-tabs card-header-tabs">
                          <ul class="nav nav-tabs card-header-tabs">
  <a class="nav-link" href="{{ url_for('main.viewOpportunities') }}"><strong>View Opportunity</strong></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Candidate Information</h5>
    <p class="card-text">Click here to see Candidate Details</p>
    <a href="{{ url_for('admin.userList') }}" class="btn btn-primary"><strong>Go</strong></a>
  </div>
</div>



{% endblock %}
