{% extends "base.html" %}
{% block content %}


    <div class="container-fluid">

        <h1 class="title text-center">
            <i>Candidate Information</i>
        </h1>
    <hr>
    <table class="table table-striped table-bordered table-sm row-border hover">
        <tr>

            <th>User ID</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Action</th>
        </tr>

        {% for row in user %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name}}</td>
                <td>{{ row.email}}</td>
                <td><a class="btn btn-primary" href="/deleteUser/{{ user.id }}"> delete</a></td>
            </tr>

        {% endfor %}
    </table>
    {% endblock %}
