{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div class="text-center">
    <h2>About Us</h2><hr>
</div>
<div class="card-body">
    <h2>Company Overview</h2><hr>
    <p>
        VolunteerRealm is the Web's largest volunteer engagement network estimated to support more than 100,000 nonprofits, 170 business leaders and 10 million visitors per year.
        Founded in 2020, VolunteerRealm offers solutions to make it easier for individuals, nonprofits and companies to make a difference. The newly well established  nonprofit
        service supports some of America's most recognized institutions.
    </p>
</div>

<div class="card-body">
    <h2>Our Vision</h2><hr>
    <p>
        We believe everyone should have the chance to make a difference. That's why we make it easy for good people and good causes to connect. We've connected
        millions of people with a great place to volunteer and helped tens of thousands of organizations better leverage volunteers to create real impact.
        The VolunteerRealm vision relies on the power of community, relationships and partnerships.
         What if, somewhere on the internet, there was a community of people who believed in the power of volunteering to enrich our lives and the world around us?
         What if, somewhere on the internet, millions of good people and good causes could come together to form relationships that serve us all?
         What if, somewhere on the internet, technology was being used to advance the values and partnerships that strengthen our civil society?
    </p>
</div>

<div class="card-body">
    <h2>The Power of Hard Work</h2><hr>
    <b><u>COMMUNITY</u></b>
    <p>
        VolunteerRealm is about people. We are a community that believes in the power of volunteering to enrich our lives and the world around us. We believe that in order
        to be strong, a community must be constantly evolving, increasingly active and evermore diverse. We are proud to be supporting a community that grew to over six million users in 2008.
    </p>
    <b><u>RELATIONSHIPS</u></b>
    <p>
        VolunteerRealm is about relationships. We are a service that brings good people and good causes together. We believe that the health of our community can be measured by the relationships
        formed between volunteers and the nonprofits they serve. Our aim is to build services that overcome the barriers that keep volunteers and nonprofits from finding each other, working together, and developing strong relationships.
    </p>
    <b><u>PARTNERSHIPS</u></b>
    <p>
        VolunteerRealm is about cooperation. We are a network that is only as strong as the partnerships that support it. None of us can build a community alone. We take partnerships seriously and seek to work with nonprofit, business and
         governmental leaders committed to building stronger relationships with their constituents around volunteering and service.
    </p>


</div>
</div>
{% endblock %}