<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrbscript"></script>

    <title>Volunteer Realm</title>
    <style>
        .index {
            padding-top: 20em;
        }

        .login {
            width: 30em;
            margin-top: 10em;
            margin-left: 18em;
        }

        .signup {
            width: 30em;
            margin-top: 2em;
            margin-left: 18em;
        }

        .banner {
            background-image: linear-gradient(transparent, #f2f0f0), url("../../static/banner.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 30em;
            padding: 8em;
        }
        .icon{
            font-size: 40px;

        .userProfile {
            width: 30em;
            margin-top: 2em;
            margin-left: 18em;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    {% if current_user.is_authenticated and current_user.is_admin() %}
        <a class="navbar-brand" href="/adminDashboard">
            <img src="{{ url_for('static', filename='volunteerRealm2.jpg') }}" height="60"/><span> Volunteer Realm</span>
        </a>
    {% endif %}

    {% if current_user.is_authenticated and not current_user.is_admin() %}
        <a class="navbar-brand" href="/userDashboard">
            <img src="{{ url_for('static', filename='volunteerRealm2.jpg') }}" height="60"/><span> Volunteer Realm</span>
        </a>
    {% endif %}

    {% if not current_user.is_authenticated %}
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='volunteerRealm2.jpg') }}" height="60"/><span> Volunteer Realm</span>
        </a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="{{ url_for('main.index') }}" class="navbar-brand">
                    <p style="color:darkmagenta;"><i>HOME</i></p>
                </a>
            </li>
            <li>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                    <a href="/adminDashboard" class="navbar-brand">
                        <p style="color:darkmagenta;"><i>DASHBOARD</i></p>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if current_user.is_authenticated and not current_user.is_admin() %}
                    <a href="/userDashboard" class="navbar-brand">
                        <p style="color:darkmagenta;"><i>DASHBOARD</i></p>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-brand">
                        <p style="color:darkmagenta;"><i>LOGIN</i></p>
                    </a>
                    </li>
                    <li>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-brand">
                        <p style="color:darkmagenta;"><i>SIGNUP</i></p>
                    </a>
                {% endif %}
                </li>
            <li>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-brand">
                        <p style="color:darkmagenta;"><i>LOGOUT</i></p>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>

</nav>

{% if current_user.is_authenticated and not current_user.is_admin() %}
    <div class="col-lg-12 mb-6">
        <div class="card tex-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" id="profile" href="/userProfile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="history" href="/volunteeringHistory">Volunteering History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="opportunities" href="/opportunities">Volunteering Opportunities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
       $(document).ready(function(){
           if (window.location.href.indexOf("contact") !== -1) {
            $("#contact").addClass("active");
           }
           if (window.location.href.indexOf("Profile") !== -1) {
            $("#profile").addClass("active");
           }
           if (window.location.href.indexOf("History") !== -1) {
            $("#history").addClass("active");
           }
           if (window.location.href.indexOf("Opportunities") !== -1) {
            $("#opportunities").addClass("active");
           }
       });
    </script>
{% endif %}

<div>
    <div class="mb-3">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="footer bg-dark text-white container-fluid">
    <div class="row p-5">
        <div class="col">
            Copyrights © 2019 by Volunteer Realm Incorporation™.
        </div>
        <div class="col">

        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li class="p-2 font-weight-bold">About Us</li>
                <li class="p-2 font-weight-bold">Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
