{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="banner backpic mb-3 text-white ">
            <div class="h1 text-center font-weight-light ">
                Remarkable Outcomes
            </div>
            <div class="sub-heading h4 font-weight-light text-center">
                Volunteers do not necessarily have the time, they just have the heart.
            </div>
        </div>

        <div class="container-fluid">
            <div class="row text-center">

                <div class="col">
                    <a href="/organizationList" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa icon fa-building text-info mb-3"></i>
                                <p class="font-weight-bold"> View Organisations</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/viewOpportunities" class="text-decoration-none text-dark">
                        <div class="card">
                            <div class="card-body">
                                <i class="fa icon fa-briefcase text-info mb-3"></i>
                                <p class="font-weight-bold">View Opportunities</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
