{% extends "base.html" %}
{% block content %}
    <hr>
    <div class="container p-4">
        <div class="card cardspage shadow">
            <h2 class="text-center pt-3">
                Organizations
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <a class="btn btn-warning float-right mr-5 border" href="/addOrganization"> Add Organisation</a>
                {% endif %}
            </h2>
            {% for row in organization %}
                <hr>
                <div class="row m-2">
                    <div class="col">
                        <h3>{{ row.org_name }}</h3>
                        <p><strong>Organisation Address: </strong>{{ row.org_address }}</p>
                    </div>
                    <div class="col-4 text-center pt-4">
                        <a class="btn btn-info" href="/deleteUser/{{ organization.id }}"> delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
